# Ignore everything in this directory
*
# Un-ignore this .gitignore so it is tracked
!.gitignore
# Un-ignore existing tracked files (add new exceptions below as you add files)
!explore.html
!install.bat
!install.sh
!modulesettings.json
!modulesettings.windows.json
!OmegaOllamaMultiModalLLM.pyproj
!omega_ollama_multimodal_adapter.py
!README.md
!requirements.txt
!LICENSE
